body {
  margin: 0;
}
body {
  font-size: 18px;
  line-height: 27px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-style: normal;
  color: #f7f4f1;
  background-color: #292929;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
@font-face {
  font-weight: normal;
  font-family: "PT Sans Narrow";
  font-style: normal;
  src: url("../fonts/ptsansnarrow.woff2") format("woff2"), url("fonts/ptsansnarrow.woff") format("woff");
}
@font-face {
  font-weight: 700;
  font-family: "PT Sans Narrow";
  font-style: normal;
  src: url("../fonts/ptsansnarrowbold.woff2") format("woff2"), url("fonts/ptsansnarrowbold.woff") format("woff");
}
.advantages__wrapper {
  width: 320px;
  margin: 0 auto;
  min-height: 320px;
  /*Временно*/
  padding-top: 30px;
}
.advantages__items {
  margin: 0;
  padding: 0;
  list-style: none;
}
.advantages__item {
  min-height: 145px;
  /*Временно*/
  margin-bottom: 23px;
  padding: 0 44px;
  padding-top: 125px;
  background-color: rgba(65, 182, 50, 0.38);
  /*Временно*/
}
.advantages__item:nth-child(n+2) {
  display: none;
}
.main-nav {
  position: relative;
  width: 320px;
  margin: 0 auto;
  min-height: 50px;
  background-color: #826550;
}
.main-nav__items,
.main-nav__user-items {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav__items {
  font-weight: bold;
}
.main-nav__item a {
  display: block;
  padding: 12px 21px;
  padding-bottom: 13px;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #826550;
  border-top: 1px solid #886e5b;
  border-bottom: 1px solid #71543f;
}
.main-nav__item a[href]:hover {
  background-color: #755a46;
  border-top-color: #755a46;
}
.main-nav__item a[href]:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #755a46;
  border-top-color: #755a46;
}
.main-nav__user-login {
  position: relative;
  display: block;
  padding: 17px 21px;
  padding-left: 49px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
}
.main-nav__user-login::before {
  content: "";
  position: absolute;
  top: 17px;
  left: 21px;
  width: 16px;
  height: 16px;
  background: #3cc131 url("../img/icon-login.png");
  background-position: -10px -82px;
  opacity: 0.3;
}
.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 70px;
  height: 50px;
  font-size: 0;
  border: 0;
  background-color: #6a4d38;
  cursor: pointer;
}
.main-nav__toggle:hover {
  background-color: #624530;
}
.main-nav__toggle:active {
  background-color: #624530;
}
.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 17px;
  width: 36px;
  height: 2px;
  background-color: #ffffff;
  box-shadow: 0 8px 0 0 #ffffff,
                0 16px 0 0 #ffffff;
}
.main-nav--closed .main-nav__toggle:active::before {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 0 0 rgba(255, 255, 255, 0.3), 0 16px 0 0 rgba(255, 255, 255, 0.3);
}
.main-nav--opened .main-nav__toggle {
  top: 0;
  right: auto;
  left: 0;
}
.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 24px;
  left: 18px;
  width: 36px;
  height: 2px;
  background-color: #ffffff;
}
.main-nav--opened .main-nav__toggle::before {
  transform: rotate(-45deg);
}
.main-nav--opened .main-nav__toggle::after {
  transform: rotate(45deg);
}
.main-nav--opened .main-nav__toggle:active::before,
.main-nav--opened .main-nav__toggle:active::after {
  background-color: rgba(255, 255, 255, 0.3);
}
.stats {
  width: 320px;
  margin: 0 auto;
  background-color: rgba(156, 209, 226, 0.34);
  /*Временно*/
}
.stats__header {
  min-height: 130px;
  /*Временно*/
  padding: 27px 28px 26px 38px;
}
.stats__items {
  width: 100%;
  /*Временно*/
  height: 320px;
  /*Временно мин хэйт для таблицы не работает*/
}
.news__wrapper {
  width: 320px;
  margin: 0 auto;
  min-height: 440px;
  /*Временно*/
  padding-top: 67px;
  padding-bottom: 28px;
  background-color: rgba(41, 108, 163, 0.34);
  /*Временно*/
}
.news__title {
  min-height: 30px;
  /*Временно*/
  margin: 0;
  margin-bottom: 28px;
}
.news__items {
  margin: 0;
  padding: 0;
  padding-bottom: 7px;
  list-style: none;
  background-color: rgba(41, 208, 163, 0.34);
  /*Временно*/
}
.news__item {
  min-height: 110px;
  /*Временно*/
  margin: 0 20px;
  margin-bottom: 16px;
  padding-bottom: 18px;
  padding-left: 70px;
}
.news__item:nth-child(n+3) {
  display: none;
}
.news__item:nth-child(2) {
  padding-bottom: 0;
}
.page-header__logo {
  height: 85px;
  text-align: center;
}
.page-header__logo img {
  width: 320px;
  height: 85px;
}
@media (min-width: 768px) {
  .advantages__wrapper {
    width: 640px;
  }
  .advantages__wrapper {
    padding-top: 42px;
  }
  .advantages__items {
    padding-bottom: 4px;
  }
  .advantages__item {
    min-height: 95px;
    /*Временно*/
    margin: 0 30px;
    margin-bottom: 40px;
    padding: 0;
    padding-bottom: 39px;
    padding-left: 128px;
    display: block;
  }
  .advantages__item:nth-child(n+2) {
    display: block;
  }
  .advantages__item:last-child {
    margin-bottom: 0;
  }
  .main-nav {
    width: auto;
    min-height: 70px;
    margin: 0;
  }
  .main-nav__wrapper {
    width: 320px;
    margin: 0 auto;
  }
  .main-nav__wrapper::after {
    content: "";
    display: table;
    clear: both;
  }
  .main-nav__items {
    min-height: 70px;
    /* Временно */
    float: left;
    width: 570px;
  }
  .main-nav__user-items {
    min-height: 70px;
    /* Временно */
    float: right;
    width: 60px;
  }
  .stats {
    width: 640px;
  }
  .stats {
    position: relative;
    z-index: 1;
    margin-top: -184px;
  }
  .stats__header {
    padding: 31px 0 24px 0;
  }
  .stats__header::after {
    content: "";
    display: table;
    clear: both;
  }
  .stats__items {
    display: block;
  }
  .stats__items::after {
    content: "";
    display: table;
    clear: both;
  }
  .news__wrapper {
    width: 640px;
  }
  .news {
    padding-top: 90px;
    padding-bottom: 28px;
  }
  .news__wrapper {
    min-height: 270px;
    /*Временно*/
    padding: 0;
  }
  .news__title {
    min-height: 40px;
    margin-right: 200px;
    margin-bottom: 55px;
  }
  .news__items {
    font-size: 0;
  }
  .news__item {
    display: inline-block;
    vertical-align: top;
    width: 220px;
    margin: 0;
    padding: 0 30px;
    padding-left: 70px;
  }
  .page-header {
    position: relative;
    min-height: 70px;
    padding-bottom: 400px;
    background-color: #000000;
  }
  .page-header__logo {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 400px;
    background-color: #000000;
    background-image: url("../img/bg-header.jpg");
    background-repeat: no-repeat;
    background-position: center -90px;
  }
  .page-header__logo img {
    position: absolute;
    bottom: 257px;
    left: 50%;
    width: 370px;
    height: auto;
    transform: translateX(-50%);
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .main-nav__wrapper {
    width: 640px;
  }
}
@media (min-width: 1200px) {
  .advantages__wrapper {
    width: 960px;
  }
  .advantages__wrapper {
    min-height: 275px;
    /*Временно*/
    padding-top: 75px;
    padding-bottom: 59px;
  }
  .advantages__items {
    display: table;
    width: 100%;
    height: 275px;
    /*Временно мин хэйт для таблицы не работает*/
  }
  .advantages__item {
    display: table-cell;
    width: 240px;
    margin: 0;
    padding: 0 40px;
    padding-top: 130px;
  }
  .advantages__item:nth-child(n+2) {
    display: table-cell;
  }
  .main-nav__items {
    width: 780px;
  }
  .main-nav__user-items {
    width: 160px;
  }
  .stats {
    width: 960px;
  }
  .stats {
    margin-top: -159px;
  }
  .stats::after {
    content: "";
    display: table;
    clear: both;
  }
  .stats__header {
    float: left;
    width: 240px;
    min-height: 263px;
    /*Временно*/
    padding-left: 40px;
    padding-right: 40px;
  }
  .stats__items {
    float: right;
    display: block;
    width: 640px;
  }
  .news__wrapper {
    width: 960px;
  }
  .news {
    padding-top: 88px;
    padding-bottom: 32px;
  }
  .news__title {
    margin-left: 70px;
  }
  .news__item:nth-child(n+3) {
    display: inline-block;
  }
  .page-header {
    padding-bottom: 648px;
  }
  .page-header__logo {
    height: 648px;
    background-position: center 0px;
    background-size: cover;
  }
  .page-header__logo img {
    bottom: 438px;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .main-nav__wrapper {
    width: 960px;
  }
}
@media (max-width:767px) {
  .main-nav--closed .main-nav__item {
    display: none;
  }
  .main-nav--closed .main-nav__item--active {
    display: block;
  }
  .main-nav--closed .main-nav__item--active a {
    padding-right: 70px;
    padding-left: 70px;
    text-align: center;
  }
  .main-nav--closed .main-nav__user-item {
    display: none;
  }
  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 70px;
    z-index: 10;
    height: 80vh;
    background-color: #6a4d38;
  }
  .main-nav--opened .main-nav__wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 7px;
    height: 100%;
    box-shadow: inset 4px 0 7px -2px rgba(0, 0, 0, 0.4);
  }
  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
  .main-nav--nojs .main-nav__wrapper {
    position: static;
    height: auto;
  }
  .main-nav--nojs .main-nav__item {
    display: block;
  }
  .main-nav--nojs .main-nav__item--active a {
    padding-right: 21px;
    padding-left: 21px;
    text-align: left;
  }
  .main-nav--nojs .main-nav__items {
    display: block;
    background-color: #6a4d38;
  }
}
