body {
  margin: 0;
}
body {
  font-size: 18px;
  line-height: 27px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-style: normal;
  color: #f7f4f1;
  background-color: #292929;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
@font-face {
  font-weight: normal;
  font-family: "PT Sans Narrow";
  font-style: normal;
  src: url("../fonts/ptsansnarrow.woff2") format("woff2"), url("fonts/ptsansnarrow.woff") format("woff");
}
@font-face {
  font-weight: 700;
  font-family: "PT Sans Narrow";
  font-style: normal;
  src: url("../fonts/ptsansnarrowbold.woff2") format("woff2"), url("fonts/ptsansnarrowbold.woff") format("woff");
}
.advantages__wrapper {
  width: 320px;
  margin: 0 auto;
  min-height: 320px;
  /*Временно*/
  padding-top: 30px;
}
.advantages__items {
  margin: 0;
  padding: 0;
  list-style: none;
}
.advantages__item {
  min-height: 145px;
  /*Временно*/
  margin-bottom: 23px;
  padding: 0 44px;
  padding-top: 125px;
  background-color: rgba(65, 182, 50, 0.38);
  /*Временно*/
}
.advantages__item:nth-child(n+2) {
  display: none;
}
.main-nav {
  position: relative;
  width: 320px;
  margin: 0 auto;
  min-height: 50px;
  background-color: #826550;
}
.main-nav__items,
.main-nav__user-items {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav__items {
  font-weight: bold;
}
.main-nav__item a {
  display: block;
  padding: 12px 21px;
  padding-bottom: 13px;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #826550;
  border-top: 1px solid #886e5b;
  border-bottom: 1px solid #71543f;
}
.main-nav__item a[href]:hover {
  background-color: #755a46;
  border-top-color: #755a46;
}
.main-nav__item a[href]:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #755a46;
  border-top-color: #755a46;
}
.main-nav__user-login {
  position: relative;
  display: block;
  padding: 17px 21px;
  padding-left: 49px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
}
.main-nav__user-login::before {
  content: "";
  position: absolute;
  top: 17px;
  left: 21px;
  width: 16px;
  height: 16px;
  background: #3cc131 url("../img/icon-login.png");
  background-position: -10px -82px;
  opacity: 0.3;
}
.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 70px;
  height: 50px;
  font-size: 0;
  border: 0;
  background-color: #6a4d38;
  cursor: pointer;
}
.main-nav__toggle:hover {
  background-color: #624530;
}
.main-nav__toggle:active {
  background-color: #624530;
}
.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 17px;
  width: 36px;
  height: 2px;
  background-color: #ffffff;
  box-shadow: 0 8px 0 0 #ffffff,
                0 16px 0 0 #ffffff;
}
.main-nav--closed .main-nav__toggle:active::before {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 0 0 rgba(255, 255, 255, 0.3), 0 16px 0 0 rgba(255, 255, 255, 0.3);
}
.main-nav--opened .main-nav__toggle {
  top: 0;
  right: auto;
  left: 0;
}
.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 24px;
  left: 18px;
  width: 36px;
  height: 2px;
  background-color: #ffffff;
}
.main-nav--opened .main-nav__toggle::before {
  transform: rotate(-45deg);
}
.main-nav--opened .main-nav__toggle::after {
  transform: rotate(45deg);
}
.main-nav--opened .main-nav__toggle:active::before,
.main-nav--opened .main-nav__toggle:active::after {
  background-color: rgba(255, 255, 255, 0.3);
}
.stats {
  width: 320px;
  margin: 0 auto;
}
.stats__header {
  padding: 27px 28px 26px 38px;
  color: #000000;
  background-color: #ffffff;
}
.stats__slogan {
  display: block;
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}
.stats__legend {
  display: block;
  font-size: 20px;
  line-height: 20px;
}
.stats__legend--bottom {
  padding-top: 20px;
  padding-bottom: 14px;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  background-color: #292929;
}
.stats__legend--top {
  display: none;
}
.stats__legend span {
  top: -0.25em;
  font-size: 90%;
}
.stats__intro {
  margin: 0;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
}
.stats__items {
  width: 100%;
  border-collapse: collapse;
}
.stats__items tr {
  color: #ffffff;
  background-color: #404040;
}
.stats__items tr:nth-child(2) {
  background-color: #4e4e4e;
}
.stats__items tr:nth-child(3) {
  background-color: #353535;
}
.stats__items tr:nth-child(4) {
  background-color: #404040;
}
.stats__value,
.stats__field {
  width: 50%;
  padding: 20px;
  padding-bottom: 19px;
  vertical-align: top;
}
.stats__value {
  padding-right: 0;
  font-size: 40px;
  line-height: 40px;
}
.stats__value span {
  top: -0.35em;
  margin-left: 5px;
}
.stats__field {
  padding-left: 0;
  font-size: 18px;
  line-height: 18px;
  text-align: right;
}
.news__wrapper {
  width: 320px;
  margin: 0 auto;
  min-height: 440px;
  /*Временно*/
  padding-top: 67px;
  padding-bottom: 28px;
  background-color: rgba(41, 108, 163, 0.34);
  /*Временно*/
}
.news__title {
  min-height: 30px;
  /*Временно*/
  margin: 0;
  margin-bottom: 28px;
}
.news__items {
  margin: 0;
  padding: 0;
  padding-bottom: 7px;
  list-style: none;
  background-color: rgba(41, 208, 163, 0.34);
  /*Временно*/
}
.news__item {
  min-height: 110px;
  /*Временно*/
  margin: 0 20px;
  margin-bottom: 16px;
  padding-bottom: 18px;
  padding-left: 70px;
}
.news__item:nth-child(n+3) {
  display: none;
}
.news__item:nth-child(2) {
  padding-bottom: 0;
}
.page-header__logo {
  height: 85px;
  text-align: center;
}
.page-header__logo img {
  width: 320px;
  height: 85px;
}
@media (min-width: 768px) {
  .advantages__wrapper {
    width: 640px;
  }
  .advantages__wrapper {
    padding-top: 42px;
  }
  .advantages__items {
    padding-bottom: 4px;
  }
  .advantages__item {
    min-height: 95px;
    /*Временно*/
    margin: 0 30px;
    margin-bottom: 40px;
    padding: 0;
    padding-bottom: 39px;
    padding-left: 128px;
    display: block;
  }
  .advantages__item:nth-child(n+2) {
    display: block;
  }
  .advantages__item:last-child {
    margin-bottom: 0;
  }
  .main-nav {
    width: auto;
    min-height: 70px;
    margin: 0;
    background-color: #000000;
  }
  .main-nav__wrapper {
    width: 320px;
    margin: 0 auto;
  }
  .main-nav__wrapper::after {
    content: "";
    display: table;
    clear: both;
  }
  .main-nav__toggle {
    display: none;
  }
  .main-nav__items {
    min-height: 70px;
    /* Временно */
    float: left;
    width: 570px;
  }
  .main-nav__user-items {
    min-height: 70px;
    /* Временно */
    float: right;
    width: 60px;
  }
  .main-nav__item {
    float: left;
    margin-right: 32px;
  }
  .main-nav__item:last-child {
    margin-right: 0;
  }
  .main-nav__item--active {
    position: relative;
  }
  .main-nav__item--active::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -3px;
    height: 3px;
    background: #826550;
  }
  .main-nav__item a {
    padding: 0;
    padding-top: 25px;
    padding-bottom: 23px;
    background: none;
    border: none;
  }
  .main-nav__item a[href]:hover {
    color: #826550;
    background-color: #000000;
  }
  .main-nav__item a[href]:active {
    color: #ffffff;
    background-color: #000000;
    opacity: 0.3;
  }
  .main-nav__user-login {
    width: 60px;
    height: 70px;
    padding: 0;
    font-size: 0;
  }
  .main-nav__user-login::before {
    top: 29px;
    left: 12px;
  }
  .main-nav__user-login:hover::before {
    opacity: 1;
  }
  .main-nav__user-login:active::before {
    opacity: 0.3;
  }
  .stats {
    width: 640px;
  }
  .stats {
    position: relative;
    z-index: 1;
    margin-top: -184px;
  }
  .stats__header {
    position: relative;
    min-height: 129px;
    padding: 31px 0 24px 0;
  }
  .stats__header::after {
    content: "";
    display: table;
    clear: both;
  }
  .stats__header::before {
    content: "";
    position: absolute;
    top: 27px;
    left: -15px;
    border: 15px solid transparent;
    border-bottom-color: #ffffff;
    transform: rotate(45deg);
  }
  .stats__items {
    display: block;
  }
  .stats__items::after {
    content: "";
    display: table;
    clear: both;
  }
  .stats__slogan {
    float: left;
    width: 280px;
    padding-left: 40px;
    margin-bottom: 20px;
    font-size: 40px;
    line-height: 40px;
    text-align: left;
    text-transform: none;
  }
  .stats__intro {
    float: right;
    width: 210px;
    padding: 0;
    padding-top: 4px;
    padding-right: 80px;
    text-align: left;
  }
  .stats__legend--top {
    display: block;
    float: left;
    clear: left;
    width: 280px;
    padding-left: 40px;
    color: rgba(0, 0, 0, 0.3);
  }
  .stats__legend--bottom {
    display: none;
  }
  .stats__items tr {
    display: block;
    float: left;
    width: 250px;
    padding: 25px 35px;
    padding-bottom: 28px;
  }
  .stats__value,
  .stats__field {
    display: block;
    width: auto;
    padding: 0;
  }
  .stats__value {
    margin-bottom: 7px;
    font-size: 72px;
    line-height: 72px;
  }
  .stats__field {
    font-size: 20px;
    line-height: 27px;
    text-align: left;
  }
  .stats__field br {
    display: none;
  }
  .news__wrapper {
    width: 640px;
  }
  .news {
    padding-top: 90px;
    padding-bottom: 28px;
  }
  .news__wrapper {
    min-height: 270px;
    /*Временно*/
    padding: 0;
  }
  .news__title {
    min-height: 40px;
    margin-right: 200px;
    margin-bottom: 55px;
  }
  .news__items {
    font-size: 0;
  }
  .news__item {
    display: inline-block;
    vertical-align: top;
    width: 220px;
    margin: 0;
    padding: 0 30px;
    padding-left: 70px;
  }
  .page-header {
    position: relative;
    min-height: 70px;
    padding-bottom: 400px;
    background-color: #000000;
  }
  .page-header__logo {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 400px;
    background-color: #000000;
    background-image: url("../img/bg-header.jpg");
    background-repeat: no-repeat;
    background-position: center -90px;
  }
  .page-header__logo img {
    position: absolute;
    bottom: 257px;
    left: 50%;
    width: 370px;
    height: auto;
    transform: translateX(-50%);
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .main-nav__wrapper {
    width: 640px;
  }
}
@media (min-width: 1200px) {
  .advantages__wrapper {
    width: 960px;
  }
  .advantages__wrapper {
    min-height: 275px;
    /*Временно*/
    padding-top: 75px;
    padding-bottom: 59px;
  }
  .advantages__items {
    display: table;
    width: 100%;
    height: 275px;
    /*Временно мин хэйт для таблицы не работает*/
  }
  .advantages__item {
    display: table-cell;
    width: 240px;
    margin: 0;
    padding: 0 40px;
    padding-top: 130px;
  }
  .advantages__item:nth-child(n+2) {
    display: table-cell;
  }
  .main-nav__items {
    width: 780px;
  }
  .main-nav__user-items {
    width: 160px;
  }
  .main-nav__item {
    margin-right: 0;
  }
  .main-nav__item--active::after {
    right: 30px;
    left: 30px;
  }
  .main-nav__item a {
    padding-left: 31px;
    padding-right: 31px;
  }
  .main-nav__items a[href]:hover {
    color: #000000;
    background-color: #ffffff;
  }
  .main-nav__items a[href]:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    opacity: 1;
  }
  .main-nav__user-items {
    width: 160px;
  }
  .main-nav__user-login {
    position: absolute;
    width: auto;
    height: auto;
    padding: 25px 30px 23px 50px;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    text-decoration: none;
  }
  .main-nav__user-login:hover {
    color: #000000;
    background-color: #ffffff;
  }
  .main-nav__user-login:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
  }
  .main-nav__user-login::before {
    left: 15px;
  }
  .main-nav__user-login:active::before {
    opacity: 0.1;
  }
  .stats {
    width: 960px;
  }
  .stats {
    margin-top: -159px;
  }
  .stats::after {
    content: "";
    display: table;
    clear: both;
  }
  .stats__header {
    float: left;
    width: 240px;
    min-height: 263px;
    /*Временно*/
    padding-left: 40px;
    padding-right: 40px;
  }
  .stats__header::before {
    top: 22px;
  }
  .stats__slogan {
    float: none;
    width: auto;
    margin-bottom: 42px;
    padding-left: 0;
  }
  .stats__intro {
    float: none;
    width: auto;
    margin-bottom: 32px;
    padding: 0;
  }
  .stats__legend--top {
    float: none;
    width: auto;
    padding-left: 0;
  }
  .stats__items {
    float: right;
    display: block;
    width: 640px;
  }
  .news__wrapper {
    width: 960px;
  }
  .news {
    padding-top: 88px;
    padding-bottom: 32px;
  }
  .news__title {
    margin-left: 70px;
  }
  .news__item:nth-child(n+3) {
    display: inline-block;
  }
  .page-header {
    padding-bottom: 648px;
  }
  .page-header__logo {
    height: 648px;
    background-position: center 0px;
    background-size: cover;
  }
  .page-header__logo img {
    bottom: 438px;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .main-nav__wrapper {
    width: 960px;
  }
}
@media (max-width:767px) {
  .main-nav--closed .main-nav__item {
    display: none;
  }
  .main-nav--closed .main-nav__item--active {
    display: block;
  }
  .main-nav--closed .main-nav__item--active a {
    padding-right: 70px;
    padding-left: 70px;
    text-align: center;
  }
  .main-nav--closed .main-nav__user-item {
    display: none;
  }
  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 70px;
    z-index: 10;
    height: 80vh;
    background-color: #6a4d38;
  }
  .main-nav--opened .main-nav__wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 7px;
    height: 100%;
    box-shadow: inset 4px 0 7px -2px rgba(0, 0, 0, 0.4);
  }
  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
  .main-nav--nojs .main-nav__wrapper {
    position: static;
    height: auto;
  }
  .main-nav--nojs .main-nav__item {
    display: block;
  }
  .main-nav--nojs .main-nav__item--active a {
    padding-right: 21px;
    padding-left: 21px;
    text-align: left;
  }
  .main-nav--nojs .main-nav__items {
    display: block;
    background-color: #6a4d38;
  }
}
